.home-layout {
  width: 100%;
  height: 100vh;
}

.layout-sider {
  height: calc(100vh - 42px);
}

.layout-content {
  margin: 20px 16px;
  padding: 20px;
  height: calc(100vh - 95px);
  overflow-y: auto;
  background: #fff;
}
