.supplier {
  :global {
    .ant-form-inline .ant-form-item {
      margin-bottom: 20px;
    }
    .ant-form-item .ant-form-item-label > label {
      min-width: 100px;
      display: flex;
      justify-content: flex-end;
    }
  }
}
